.card {
  margin: 70px 0;
  display: flex;
  justify-content: space-between;
  img {
    max-width: 560px;
    width: 100%;
    box-shadow: 3px 3px 20px rgba(0,0,0,.15);
  }
  .content {
    margin: 40px 0 0 40px;
    flex-grow: 1;
    .top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .line {
        height: 1px;
        width: 100%;
      }
      .logo {
        margin: 0 0 0 20px;
        box-shadow: none;
        height: 1.5em;
        width: 1.5em;
      }
    }
    a {
      text-decoration: none;
      color: black;
      h2 {
        font-weight: 400;
        text-align: left;
      }
    }
    p {
      margin: .1em;
    }
  }
  &.right {
    flex-direction: row-reverse;
    .content {
      margin: 40px 40px 0 0;
      .top {
        flex-direction: row-reverse;
        .logo {
          margin: 0 20px 0 0;
        }
      }
      h2, p {
        text-align: right;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .card.right, .card.left {
    margin: 3em 0;
    flex-direction: column;
    align-items: center;
    .content {
      margin: 1.5em 0 0 0;
      max-width: 560px;
      width: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card .content a {
    color: white;
  }
}
