html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: white;
  color: black;
}
header {
  display: flex;
  align-items: center;
  padding: 2em 3em;
  .line {
    width: 100%;
    height: 2px;
  }
  .logo {
    height: 1.8em;
    width: auto;
    margin-left: 1.5em;
  }
}
main {
  max-width: 1200px;
  margin: 3em auto;
  padding: 2em;
}
footer {
  text-align: center;
  padding: 20px 0 12px 0;
  max-width: 900px;
  margin: 0 auto;
  border-top: 1px solid black;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 1.6em;
  padding: 1.3em;
  font-weight: bold;
  text-align: center;
  max-width: 860px;
  margin: 0 auto;
}
h2 {
  font-size: 1.4em;
  font-weight: semi-bold;
}
h3 {
  font-size: 1.2em;
  font-weight: semi-bold;
}
p {
  font-size: 1em;
}
svg {
  fill: black;
}
form {
  display: flex;
  flex-direction: column;
  align-items: right;
  max-width: 600px;
  margin: 2em auto 0 auto;
  label {
    border-radius: 0;
    margin: 1em 0;
  }
  input, textarea {
    font-size: 16px;
    border-radius: 0;
    padding: 0;
    outline: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 2em;
    line-height: 2em;
    border: none;
    font-family: monospace;
    border-bottom: 1px solid black;
    &:focus {
      font-size: 16px;
      box-shadow: none !important;
    }
  }
  .reset {
    display: flex;
    justify-content: flex-end;
    input[type=reset] {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      background: none;
      border: none;
      margin-top: 0.5em;
      text-align: right;
      cursor: pointer;
      width: fit-content;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  button[type=submit] {
    cursor: pointer;
    background: none;
    border: none;
    margin: 1em auto 0 auto;
    font-size: 1.5em;
    width: fit-content;
  }
}
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 6em;
  flex-wrap: wrap;
  a {
    color: black;
    svg {
      font-size: 1.5em;
      margin: 0 1em;
    }
  }
  svg {
    max-width: 8em;
    margin: 0 2em;
  }
}
.line {
  background-color: black;
}

@media only screen and (max-width: 900px) {
  header {
    padding: 1.5em 0.5em;
    .logo {
      height: 1.3em;
      margin-left: 1em;
    }
  }
  main {
    margin: 3em 0 0 0;
    padding: 0 0.5em;
    .stacks {
      // flex-direction: column;
      // align-items: center;
      svg {
        max-width: 7em;
      }
    }
  }
  footer {
    margin: 4em 0.5em 0.6em 0.5em;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
    svg {
      fill: white;
    }
    form {
      input, textarea {
        border-bottom: 1px solid white;
        background-color: black;
        color: white;
      }
    }
    .line {
      background-color: white;
    }
  }
  footer {
    border-top: 1px solid white;
  }
}

