.card {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  img {
    max-width: 560px;
    box-shadow: 3px 3px 20px rgba(0,0,0,.15);
  }
  .content {
    margin-left: 40px;
    margin-top: 40px;
    flex-grow: 1;
    .top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .line {
        height: 1px;
        width: 100%;
        margin-right: 20px;
        background-color: black;
      }
      .logo {
        box-shadow: none;
      }
    }
    h2 {
      text-align: left;
      font-weight: 400;
    }
  }
}
