.card {
  margin: 70px 0;
  display: flex;
  justify-content: space-between;
  img {
    max-width: 560px;
    box-shadow: 3px 3px 20px rgba(0,0,0,.15);
  }
  .content {
    margin: 40px 0 0 40px;
    flex-grow: 1;
    .top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .line {
        height: 1px;
        width: 100%;
        margin: 0 20px 0 0;
        background-color: black;
      }
      .logo {
        box-shadow: none;
      }
    }
    h2 {
      text-align: left;
      font-weight: 400;
    }
  }
  &.right {
    flex-direction: row-reverse;
    .content {
      margin: 40px 40px 0 0;
      .top {
        flex-direction: row-reverse;
        .line {
          margin: 0 0 0 20px;
        }
      }
      h2, p {
        text-align: right;
      }
    }
  }
}

